@use '../../helpers/functions' as *;

.ChangeName_Backdrop {
    @include BackDrop();

    .ChangeName {
        @include InsideBackdrop();
        min-height: auto;
        max-width: 600px;
        width: 90%;
    }
}