@use "../../helpers/_functions" as fn;
@use "../../helpers/_variables" as vars;

.cta-wrapperr-2 {
  width: 100%;
  background-color: vars.$white;
  @include fn.Breakpoints(mobile) {
    width: 100%;
    margin: 0 auto;
  }
}

.cta-background {
  width: 100%;
  background-color: vars.$gray-50;
  padding: 6rem 1rem;
  @include fn.Breakpoints(mobile) {
    width: 90%;
    margin: 0 auto;
  }
}

.cta-section {
  width: 96%;
  background-color: vars.$gray-100;
  border-radius: 1rem;
  margin-left: 1rem;
  @include fn.Breakpoints(mobile) {
    width: 90%;
    margin: 0 auto;
    // background-color: vars.$white;
  }

  .cta-container {
    max-width: 80rem;
    margin: 0 auto;
    background-color: vars.$white;
    transform: translatey(-3rem);
    border-top: 4px solid vars.$gray-100;
    border-radius: 1rem;
    box-shadow:
      0 4px 6px -1px rgba(vars.$gray-700, 0.1),
      0 2px 4px -2px rgba(vars.$gray-700, 0.1);
    padding: 3rem 2rem;
  }

  .cta-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .cta-text-content {
    max-width: 42rem;
    margin: 0 auto;
  }

  .cta-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: vars.$gray-900;
    margin-bottom: 1rem;

    @include fn.Breakpoints(mobile) {
      font-size: 2rem;
    }
  }

  .cta-description {
    font-size: 1.25rem;
    color: vars.$gray-600;
    line-height: 1.5;

    @include fn.Breakpoints(mobile) {
      font-size: 1.125rem;
    }
  }

  .cta-action-content {
    padding-top: 1rem;
    border-top: 1px solid vars.$gray-200;
  }

  .cta-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    @include fn.Breakpoints(mobile) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .cta-button {
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;

    &-primary {
      background-color: vars.$Secondcolor;
      color: vars.$white;

      &:hover {
        background-color: vars.$HoverColor;
      }
    }

    &-secondary {
      background-color: vars.$gray-100;
      color: vars.$gray-900;

      &:hover {
        background-color: vars.$gray-200;
      }
    }
  }
}
