@use "../../helpers/functions" as *;
@use "../../helpers/mixins" as *;

.Profile {
    margin-top: 0;
    min-height: calc(100vh - 100px);

    .Info {
        img {
            width: 100px;
            height: 100px;
            @include transition(transform);

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    label,
    p {
        padding: 0 2px;
    }

    input {
        @include transition();

        &:focus {
            @include shadow('md');
        }
    }

    button {
        @include transition();
    }

    .bg-primary-500 {
        background-color: #6366f1;

        &:hover {
            background-color: #4f46e5;
        }
    }

    .text-primary-500 {
        color: #6366f1;
    }

    .border-primary-500 {
        border-color: #6366f1;
    }

    .animate-spin {
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    // Extra small screens (mobile portrait)
    @include Breakpoints(mobile) {
        .md\:flex {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .md\:flex-shrink-0 {
            margin-bottom: 1rem;
        }
        
        // Ensure proper spacing on mobile
        .container {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
    
    // Small screens (mobile landscape / small tablets)
    @include Breakpoints(small) {
        .md\:flex {
            flex-direction: row;
        }
    }
    
    // Medium screens and up (tablets)
    @media (min-width: 768px) {
        .md\:flex {
            flex-direction: row;
        }
    }
    
    // Large screens (desktop)
    @media (min-width: 1024px) {
        .container {
            max-width: 1280px;
        }
    }
    
    // Extra large screens
    @media (min-width: 1280px) {
        .container {
            max-width: 1536px;
        }
    }
}