@use '../../helpers/functions' as *;
@use "../../helpers/_variables" as vars;

.PreviewNav {
    padding: 10px 20px;
    background: linear-gradient(135deg, vars.$BaseColor, vars.$Secondcolor, vars.$HoverColor);
    color: white;

    .Logo {
        font-size: 1.5rem;
    }

    .navbar__logo {
        padding: 0.7rem 1.2rem !important;
    }

    .nav-list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;



        li {
            margin: 0 10px;

            a {
                text-decoration: none;
                font-weight: 500;
            }
        }

        .login-link {
            margin-left: auto;
        }
    }
}