@use "sass:map";

// Breakpoints
$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px
);

// Container
@mixin container {
  width: 100%;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  @include media-breakpoint-down(sm) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// Flexbox
@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Media Queries
@mixin media-breakpoint-down($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

@mixin media-breakpoint-up($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn "Invalid breakpoint: #{$breakpoint}.";
  }
}

// Transitions
@mixin transition($property: all, $duration: 0.3s, $timing: ease-in-out) {
  transition: $property $duration $timing;
}

// Gradients
@mixin gradient($direction: to right, $start-color: $Secondcolor, $end-color: $HoverColor) {
  background: linear-gradient($direction, $start-color, $end-color);
}

// Shadows
@mixin shadow($level: 'md') {
  @if $level =='sm' {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  @else if $level =='md' {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  @else if $level =='lg' {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}