@use '../../helpers/functions' as *;

.VideoPreviewLayout {
    background-color: whitesmoke;

    .VideoPreview_main {
        .VideoPreview {
            // background-color: white;
            height: 600px;
            margin-top: 20px;
        }
    }

    .FileTypeIcon {
        color: $BaseColor;
    }

    .VideoPreview_main_sec2 {
        background-color: white;
    }

    .VideoPreview_buttons {
        padding: 20px;
        background-color: white;

        .Main_Button,
        .First_Button {
            width: 100%;
            color: $BaseColor;
            font-weight: bold;
            border: solid 1px $BaseColor;
            padding: 15px 0;
            color: $BaseColor;
            border-radius: 10px;
            transition: 0.2s linear all;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 15px;

            svg {
                font-size: 25px;
            }
        }

        .First_Button {
            background-color: $BaseColor;
            color: white;

            &:hover {
                background-color: $BaseColor;
                color: white;
            }
        }
    }
}

.FilePreview {
    width: 90%;
    height: 450px;
    margin-top: 20px;

    @include Breakpoints(small) {
        height: 400px;
        padding: 20px 0;
    }

    @include Breakpoints(mobile) {
        height: 400px;
        padding: 20px 0;
    }

    video {
        width: 100%;
        height: 100%;
    }
}

